body {
  font-family: 'Nunito';
}

h1 {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1.30385e-9px;
  color: #2a323c;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -1.30385e-9px;
  color: #5c6269;
}
